/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* reset CSS */

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
a {
  color: black;
  text-decoration: none;
  outline: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

/* start */
.container {
  width: 100%;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 1050px;
  /* border:1px solid black; */
}
.regiser-login {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.regiser-login-group {
  display: flex;
}
.reigster-login-item {
  cursor: pointer;
  font-size: 12px;
  font-family: 'Noto Sans', 'malgun gothic', AppleGothic, dotum, sans-serif;
  color: rgb(51, 51, 51);
}
.reigster-login-item:nth-child(1) {
  color: rgb(95, 0, 128);
}
.register-login-line {
  display: inline-block;
  width: 1px;
  height: 13px;
  margin: 0px 8px;
  background-color: rgb(217, 217, 217);
}

.header-wrap {
  width: 100%;
  height: 63px;
  /* border: 1px blue solid; */
  display: flex;
  align-items: center;
}
.header-content {
  /* border:1px solid black; */
  flex-grow: 1;
  flex-basis: 0;
}

.header-content:nth-child(1) {
  display: flex;
  align-items: center;
  font-family: 'Noto Sans', 'malgun gothic', AppleGothic, dotum, sans-serif;
  /* border:1px solid red; */
}
.kurly-btn {
  font-size: 18px;
  color: rgb(181, 181, 181);
  font-weight: 400;
}
.kurly-btn:nth-child(2) {
  margin-left: 16px;
}

.kurly-selected {
  color: rgb(95, 0, 128);
  font-weight: 500;
}
.kurly-not-selected:hover {
  color: rgb(95, 0, 128);
}

.header-content:nth-child(2) {
  /* border:1px solid red; */
  height: 42px;
}
.search {
  width: 100%;
  height: inherit;
  border: 1px rgb(95, 0, 128) solid;
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
}
.search input {
  width: 300px;
  background-color: inherit;
  border: none;
  outline: none;
  font-size: 16px;
  letter-spacing: -0.33px;
}
.input-submit {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 10px;
  bottom: 3px;
  background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgzNnYzNkgweiIvPgogICAgICAgIDxnIHN0cm9rZT0iIzVGMDA4MCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNyI+CiAgICAgICAgICAgIDxwYXRoIGQ9Im0yNi4wODEgMjYuMDgxLTQuMTItNC4xMk0xNi40NjcgMjMuMzM0YTYuODY3IDYuODY3IDAgMSAwIDAtMTMuNzM0IDYuODY3IDYuODY3IDAgMCAwIDAgMTMuNzM0eiIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==')
    0px 0px no-repeat;
}

.header-content:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.icon:nth-child(1) {
  background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTM2IDM2SDBWMGgzNnoiLz4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4LjcgNikiIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjciPgogICAgICAgICAgICA8cGF0aCBkPSJNOS4zMDYgMjRTMCAxNi41NDQgMCA5LjMwNmE5LjMwNiA5LjMwNiAwIDAgMSAxOC42MTIgMEMxOC42MTIgMTYuNTQ0IDkuMzA2IDI0IDkuMzA2IDI0eiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+CiAgICAgICAgICAgIDxjaXJjbGUgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgY3g9IjkuMjEyIiBjeT0iOS4xMjMiIHI9IjIuNzg0Ii8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K')
    50% 50% no-repeat;
  margin-right: 20px;
}

.icon:nth-child(2) {
  background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yOC45MjcgOC44OTNhNi40NiA2LjQ2IDAgMCAwLTkuMTM5IDBsLTEuODI5IDEuODI4LTEuODI3LTEuODI4YTYuNDYyIDYuNDYyIDAgMSAwLTkuMTQgOS4xMzhMOC44MiAxOS44Nmw4LjQzMiA4LjQzNGExIDEgMCAwIDAgMS40MTQgMGw4LjQzMy04LjQzNGgwbDEuODI4LTEuODI4YTYuNDYgNi40NiAwIDAgMCAwLTkuMTM4eiIgc3Ryb2tlPSIjMzMzIiBzdHJva2Utd2lkdGg9IjEuNyIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==')
    50% 50% no-repeat;
}
.icon:nth-child(2):hover {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yOC45MjcgOC44OTNhNi40NiA2LjQ2IDAgMCAwLTkuMTM5IDBsLTEuODI5IDEuODI4LTEuODI3LTEuODI4YTYuNDYyIDYuNDYyIDAgMSAwLTkuMTQgOS4xMzhMOC44MiAxOS44Nmw4LjQzMiA4LjQzNGExIDEgMCAwIDAgMS40MTQgMGw4LjQzMy04LjQzNGgwbDEuODI4LTEuODI4YTYuNDYgNi40NiAwIDAgMCAwLTkuMTM4eiIgc3Ryb2tlPSIjNWYwMDgwIiBzdHJva2Utd2lkdGg9IjEuNyIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==');
}
.icon:nth-child(3) {
  background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTM2IDM2SDBWMGgzNnoiLz4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1LjE2NCA2LjU0NykiIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjciPgogICAgICAgICAgICA8cGF0aCBkPSJtMjUuNjggMy42Ni0yLjcyIDExLjU3SDcuMzdMNC42NiAzLjY2eiIvPgogICAgICAgICAgICA8Y2lyY2xlIGN4PSIyMC41MiIgY3k9IjIwLjc4IiByPSIyLjE0Ii8+CiAgICAgICAgICAgIDxjaXJjbGUgY3g9IjkuODEiIGN5PSIyMC43OCIgcj0iMi4xNCIvPgogICAgICAgICAgICA8cGF0aCBkPSJNMCAwaDMuOGwxLjc2IDcuNSIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==');
  margin-left: 20px;
}

nav {
  width: 1050px;
  height: 56px;
  /* border: 1px solid brown; */
}
.nav-wrap {
  display: flex;
  height: inherit;
}
.nav-content {
  /* border:1px solid black; */
  /* flex-grow:1; */
  flex-basis: 0;
}

.nav-content:nth-child(1) {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.category {
  color: rgb(51, 51, 51);
}
.category:hover {
  cursor: pointer;
  color: rgb(95, 0, 128) !important;
}

.category-img {
  display: inline-block;
  width: 16px;
  height: 14px;
  margin-right: 8px;
  background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNiAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMTZ2MS43SDBWMHptMCA2LjE1aDE2djEuN0gwdi0xLjd6bTAgNi4xNWgxNlYxNEgwdi0xLjd6IiBmaWxsPSIjMzMzIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4KPC9zdmc+Cg==')
    0px 0px / 16px 14px no-repeat;
}
.category-txt {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.3px;
}

.nav-content:nth-child(2) {
  flex-grow: 2;
  display: flex;
  align-items: center;
}

.nav-menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.menu-content {
  height: fit-content;
  font-size: 16px;
  font-weight: 600;
  color: rgb(51, 51, 51);
  cursor: pointer;
}

.menu-content:hover {
  color: rgb(95, 0, 128);
  text-decoration: underline;
}

.nav-content:nth-child(3) {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.delivery-guide {
  height: 32px;
  padding: 6px 16px;
  border-radius: 18px;
  border: 1px solid rgb(238, 238, 238);
  color: rgb(102, 102, 102);
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.32px;
  font-weight: 600;
}

.main-image {
  width: 100%;
  height: 370px;
  position: relative;
  margin-bottom: 32px;
}

.main-image-content {
  width: 100%;
  height: inherit;
}
.main-image-btn {
  position: absolute;
  width: 48px;
  height: 48px;
  font-size: 32px;
  border-radius: 50%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.left-btn {
  top: 50%;
  left: 10%;
}

.right-btn {
  top: 50%;
  right: 10%;
}

.image-num {
  position: absolute;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.15);
  z-index: 10;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 55px;
  height: 23px;
  right: 20%;
  bottom: 20px;
  line-height: 23px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 12px;
}

.deadline-sale {
  width: 1050px;
  /* border:1px solid black; */
  padding: 40px 0px;
}

.deadline-sale-link {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.deadline-sale-link a {
  display: flex;
  align-items: center;
}

.deadline-sale-link span {
  color: rgb(51, 51, 51);
  font-size: 28px;
  line-height: 1.15;
  letter-spacing: -0.26px;
  font-weight: 600;
}

.deadline-sale-sample-wrap {
  width: 100%;
  /* border:1px solid red; */
  display: flex;
  gap: 18px;
}

.sample-content {
  flex-grow: 1;
  flex-basis: 0;
  /* border:1px solid blue; */
}

.item {
  display: flex;
  flex-direction: column;
}

.item-image {
  width: 249px;
  height: auto;
  position: relative;
  overflow: hidden;
}
.item-image img {
  width: 100%;
  height: inherit;
}
.item-image img:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.item-cart {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 48px;
  height: 48px;
}

.item-info {
  padding: 14px 10px 0px 0px;
}

.item-name {
  font-size: 16px;
  line-height: 1.45;
  font-weight: 400;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  letter-spacing: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}

.item-price {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  white-space: nowrap;
}
.item-discount-rate {
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  white-space: nowrap;
  color: rgb(250, 98, 47);
  margin-right: 7px;
}

.item-before-price {
  padding-top: 1px;
  color: rgb(181, 181, 181);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: line-through;
}

.item-review {
  display: flex;
  align-items: center;
  padding-top: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: rgb(153, 153, 153);
}

.marketing-banner {
  width: 1050px;
  /* border:1px solid black; */
  padding: 40px 0px;
}

.marketing-banner-link {
  width: 100%;
  height: 150px;
}

.marketing-banner-link img {
  width: 100%;
  height: inherit;
}

.daily-specials {
  width: 1050px;
  /* border:1px solid black; */
  padding: 80px 0px;
  display: flex;
  gap: 15px;
}

/* .daily-specials-sample-content{
    flex-grow: 1;
    flex-basis: 0;
} */

.daily-specials-card {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 8px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0.9;
  background-color: rgb(189, 118, 255);
  color: #fff;
  font-size: 14px;
  line-height: 1.43px;
  font-weight: bold;
}

.daily-specials-title {
  padding-top: 1px;
  font-size: 28px;
  color: rgb(51, 51, 51);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.26px;
}

.daily-specials-24hours {
  padding-top: 11px;
  font-size: 16px;
  color: rgb(153, 153, 153);
  font-weight: normal;
  line-height: 1.3;
  letter-spacing: normal;
}

.timer {
  display: flex;
  padding: 24px 0px 6px;
}

.timer-time {
  font-size: 32px;
  font-weight: 800;
  color: rgb(51, 51, 51);
}

.timer-time span:first-child::after {
  content: ':';
}
.timer-time span:nth-child(2)::after {
  content: ':';
}

.daily-specials-comment {
  padding-top: 26px;
  font-size: 14px;
  color: rgb(204, 204, 204);
  font-weight: normal;
  line-height: 1.43;
  letter-spacing: -0.4px;
}
